
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<span>@ViewBag.a + @ViewBag.b = @ViewBag.c</span><br>
<span>@ViewData["A"]</span>
<table class="table table-bordered">
    <tr>

        <td>Name</td>
        <td>Id</td>
        <td>Dob</td>
    </tr>
    @foreach (string n in ViewBag.Names)
    {
        <tr>
            <td>@n</td>
        </tr>
    }
    <!--
    <tr>
        <td>Ridowan Ahad</td>
        <td>18-37919-2</td>
        <td>13.7.1999</td>
    </tr>
    <tr>
        <td>Red</td>
        <td>18-37920-2</td>
        <td>13.7.1998</td>
    </tr>
    -->
</table>
